
.noto-serif-no {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.pcolor{
  color: #00000097;
}
.spcolor{
  color:#E95A08 ;
}

body {
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}
nav{
  justify-content: center; 
}

.logo {
   width: 50px;
}

.main-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 50px 0 20px 0 ;
}
.font{
  font-weight: 500;
  font-size:50px;
}
.main-2{
  width: 85%;
  margin: 0 auto;
}
.tocenter{
  text-align: center;
}
.tocenter h2{
   font-size: 50px
}
.tocenter p{
 padding: 0 240px 0 240px;
}
.all-product{
    display: grid;
    grid-template-columns:repeat(4, 2fr);
}
.product-card{
    margin-right: 37px;
    margin-bottom: 20px;
}
.cent{
  text-align: center;
}
.btn{
  width: 270px;
  padding: 10px;
  background-color: #E95A08;
  color: white;
  border: none;
}
.main-3{
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin-top: 90px;
}
.feature-text{
    margin-left: 30px;
}
.sc{
  width: 200px;
  height: 200px;
}
.chalange{
  position: absolute;
  margin-left: 410px;
  margin-top: -90px;
}
.big{
  font-size: 60px;
}
.title{
  margin: 90px 0 90px;
  text-align: center;
}
.title h2{
  font-size: 50px;
}
.title p{
  padding: 0 240px 0 240px;
}
.main-4{
   width: 85%;
  margin: 0 auto;
}
.deal-img{
  display: flex;
  gap: 30px;

}
.pos{
  position: relative;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  color: azure;
  font-size: 15px;
  font-weight:bold;
  background-color: #00000048;
  transform: translate(-50%, -50%);
}
.imgsp{
  margin-top: 14px; 
}
.border{
  border-radius: 10px;
}
.main-5{
 
  margin: 90px 0 ; 
  position: relative;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center h2{
  color: white;
  font-size: 50px;
}
.center input{
  width: 550px;
  height: 30px;
}
.btno{
  width: 100px;
  height: 30px;
  background-color: #E95A08;
  color: white;
  border: none;
}
.psiz{
 width: 100%;
}
.footer{
   width: 85%;
   height: 348px;
  margin: 0 auto;
}

.footer-top{
  display: flex;
  justify-content: space-around;
}
.footer-links ul{
  list-style: none;
}
.footer-links {
  line-height:60px;
}
.footer-icons *{
  margin-right: 30px;
}


/* this website responce only for 576px device */

@media screen and (max-width:576px){
  .hide{
    display: none;
  }
  .pic{
  width:70px ; 
}
.main-1{
  flex-direction: column-reverse;
}
.all-product{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  
}
.main-2{
  width: 85%;
  margin: 0;
  /* background-color: #bbb; */

}
.product-card{

    margin-right: 10px;
    margin-bottom: 20px;
    
}
.main-3{
  
  width: 85%;
  margin: 0 auto;
  /* background-color: #bbb; */
  display: flex;
  margin-top: 90px;
   flex-direction: column;

}
.big{
  font-size: 30px;
}
.deal-img{
  display: flex;
  flex-direction: column;
  
}
.center h2{
  color: white;
  font-size: 20px;
}
.center input{
  width: 170px;
  height: 20px;
 
}
.btno{
  width: 70px;
  height: 20px;
  background-color: #E95A08;
  color: white;
  border: none;
}
.footer-top{
  display: flex;
   flex-direction: column;
}
.footer-links {
  line-height:60px;
  
}
.footer-links ul{
  margin-left: -45px;
}

.tocenter h2{
   font-size: 30px
}
.tocenter p{
 padding: 0 ;
}
.title h2{
  font-size: 30px;
}
.title p{
  padding:0;
}
.rsiz{
  width: 100%;
}
}      
